# Importing Libraries  and Data

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# turning a project folder path into a string

path = r'/Users/mart/Documents/09-2022 IBRD  Statement of Loans'

In [3]:
# Importing database

df_orig = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'IBRD_Statement_of_Loans_-_Latest_Available_Snapshot.csv'), index_col = False)

# Data Consistency Checks

In [4]:
df_orig.shape

(8916, 33)

In [5]:
# set options to show all columns

pd.set_option('display.max_columns', None)

# check the dataset head

df_orig.head()

,End of Period,Loan Number,Region,Country Code,Country,Borrower,Guarantor Country Code,Guarantor,Loan Type,Loan Status,Interest Rate,Currency of Commitment,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Sold 3rd Party,Repaid 3rd Party,Due 3rd Party,Loans Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
0,07/31/2022 12:00:00 AM,IBRD00010,EUROPE AND CENTRAL ASIA,FR,France,CREDIT NATIONAL,FR,France,NPL,Fully Repaid,4.25,NaN,P037383,RECONSTRUCTION,2.500000e+08,0.0,0.0,2.500000e+08,3.800000e+04,0.0,0.0,0.0,2.499620e+08,2.499620e+08,0,0.0,11/01/1952 12:00:00 AM,05/01/1977 12:00:00 AM,05/09/1947 12:00:00 AM,05/09/1947 12:00:00 AM,06/09/1947 12:00:00 AM,12/31/1947 12:00:00 AM,NaN
1,07/31/2022 12:00:00 AM,IBRD00020,EUROPE AND CENTRAL ASIA,NL,Netherlands,NaN,NaN,NaN,NPL,Fully Repaid,4.25,NaN,P037452,RECONSTRUCTION,1.910442e+08,0.0,0.0,1.910442e+08,1.033722e+08,0.0,0.0,0.0,8.767200e+07,8.767200e+07,0,0.0,04/01/1952 12:00:00 AM,10/01/1972 12:00:00 AM,08/07/1947 12:00:00 AM,08/07/1947 12:00:00 AM,09/11/1947 12:00:00 AM,03/31/1948 12:00:00 AM,NaN
2,07/31/2022 12:00:00 AM,IBRD00021,EUROPE AND CENTRAL ASIA,NL,Netherlands,NaN,NaN,NaN,NPL,Fully Repaid,4.25,NaN,P037452,RECONSTRUCTION,3.955788e+06,0.0,0.0,3.955788e+06,0.000000e+00,0.0,0.0,0.0,3.955788e+06,3.955788e+06,0,0.0,04/01/1953 12:00:00 AM,04/01/1954 12:00:00 AM,05/25/1948 12:00:00 AM,08/07/1947 12:00:00 AM,06/01/1948 12:00:00 AM,06/30/1948 12:00:00 AM,NaN
3,07/31/2022 12:00:00 AM,IBRD00030,EUROPE AND CENTRAL ASIA,DK,Denmark,NaN,NaN,NaN,NPL,Fully Repaid,4.25,NaN,P037362,RECONSTRUCTION,4.000000e+07,0.0,0.0,4.000000e+07,1.777100e+07,0.0,0.0,0.0,2.222900e+07,2.222900e+07,0,0.0,02/01/1953 12:00:00 AM,08/01/1972 12:00:00 AM,08/22/1947 12:00:00 AM,08/22/1947 12:00:00 AM,10/17/1947 12:00:00 AM,03/31/1949 12:00:00 AM,NaN
4,07/31/2022 12:00:00 AM,IBRD00040,EUROPE AND CENTRAL ASIA,LU,Luxembourg,NaN,NaN,NaN,NPL,Fully Repaid,4.25,NaN,P037451,RECONSTRUCTION,1.200000e+07,0.0,0.0,1.176198e+07,1.619983e+06,0.0,0.0,0.0,1.014200e+07,1.014200e+07,0,0.0,07/15/1949 12:00:00 AM,07/15/1972 12:00:00 AM,08/28/1947 12:00:00 AM,08/28/1947 12:00:00 AM,10/24/1947 12:00:00 AM,03/31/1949 12:00:00 AM,NaN

In [6]:
# checking last rows in the dataset

df_orig.tail()

,End of Period,Loan Number,Region,Country Code,Country,Borrower,Guarantor Country Code,Guarantor,Loan Type,Loan Status,Interest Rate,Currency of Commitment,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Sold 3rd Party,Repaid 3rd Party,Due 3rd Party,Loans Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
8911,07/31/2022 12:00:00 AM,IBRDS0160,MIDDLE EAST AND NORTH AFRICA,DZ,Algeria,MINISTERE DES FINANCES,DZ,Algeria,NPL,Fully Cancelled,0.00,NaN,P004894,SN METAL TECHNICAL ASST,20000000.0,20000000.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0,0.0,05/15/1984 12:00:00 AM,11/15/1989 12:00:00 AM,NaN,11/13/1979 12:00:00 AM,11/13/1979 12:00:00 AM,06/30/1983 12:00:00 AM,NaN
8912,07/31/2022 12:00:00 AM,IBRDS0170,MIDDLE EAST AND NORTH AFRICA,DZ,Algeria,MINISTERE DES FINANCES,DZ,Algeria,NPL,Fully Repaid,7.95,NaN,P004895,WATER SUP & ENG.,5000000.0,1388308.92,0.0,3611691.08,3611691.08,0.0,0.00,0.00,0.0,0.0,0,0.0,11/15/1983 12:00:00 AM,11/15/1989 12:00:00 AM,02/14/1980 12:00:00 AM,01/15/1980 12:00:00 AM,09/17/1980 12:00:00 AM,12/31/1984 12:00:00 AM,11/13/1985 12:00:00 AM
8913,07/31/2022 12:00:00 AM,IBRDS0180,MIDDLE EAST AND NORTH AFRICA,MA,Morocco,ONAREP,MA,Morocco,NPL,Fully Repaid,8.25,NaN,P005392,PETROLEUM EXPLORATION I,50000000.0,103917.29,0.0,49896082.71,49896082.71,0.0,0.00,0.00,0.0,0.0,0,0.0,11/01/1984 12:00:00 AM,05/01/1997 12:00:00 AM,05/19/1980 12:00:00 AM,04/15/1980 12:00:00 AM,10/24/1980 12:00:00 AM,06/30/1984 12:00:00 AM,NaN
8914,07/31/2022 12:00:00 AM,IBRDS0190,LATIN AMERICA AND CARIBBEAN,PE,Peru,EMPRESA SIDERURGICA DEL PERU,PE,Peru,NPL,Fully Repaid,8.25,NaN,P007969,SIDERPERU TA,5000000.0,3643143.25,0.0,1356856.75,1356856.75,0.0,-0.01,-0.01,0.0,0.0,0,0.0,12/15/1984 12:00:00 AM,12/15/1990 12:00:00 AM,12/15/1980 12:00:00 AM,07/15/1980 12:00:00 AM,04/16/1981 12:00:00 AM,06/30/1986 12:00:00 AM,10/11/1983 12:00:00 AM
8915,07/31/2022 12:00:00 AM,IBRDS0200,LATIN AMERICA AND CARIBBEAN,AR,Argentina,Ministry of Treasury,AR,Argentina,CPL,Fully Repaid,9.25,NaN,P005939,COAL EXPLORATION,10000000.0,0.00,0.0,10000000.00,10000000.00,0.0,0.00,0.00,0.0,0.0,0,0.0,06/01/1985 12:00:00 AM,12/01/1990 12:00:00 AM,05/13/1981 12:00:00 AM,12/09/1980 12:00:00 AM,04/07/1982 12:00:00 AM,02/28/1987 12:00:00 AM,NaN

In [7]:
# check the info and data types

df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8916 entries, 0 to 8915
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   End of Period                 8916 non-null   object
 1   Loan Number                   8916 non-null   object
 2   Region                        8916 non-null   object
 3   Country Code                  8914 non-null   object
 4   Country                       8916 non-null   object
 5   Borrower                      8859 non-null   object
 6   Guarantor Country Code        8634 non-null   object
 7   Guarantor                     8636 non-null   object
 8   Loan Type                     8916 non-null   object
 9   Loan Status                   8916 non-null   object
 10  Interest Rate                 8823 non-null   float64
 11  Currency of Commitment        0 non-null      float64
 12  Project ID                    8916 non-null   object
 13  Project Name                  8916 non-null   object
 14  Original Principal Amount     8916 non-null   float64
 15  Cancelled Amount              8916 non-null   float64
 16  Undisbursed Amount            8916 non-null   float64
 17  Disbursed Amount              8916 non-null   float64
 18  Repaid to IBRD                8916 non-null   float64
 19  Due to IBRD                   8916 non-null   float64
 20  Exchange Adjustment           8916 non-null   float64
 21  Borrower's Obligation         8916 non-null   float64
 22  Sold 3rd Party                8916 non-null   float64
 23  Repaid 3rd Party              8916 non-null   float64
 24  Due 3rd Party                 8916 non-null   int64
 25  Loans Held                    8916 non-null   float64
 26  First Repayment Date          8875 non-null   object
 27  Last Repayment Date           8876 non-null   object
 28  Agreement Signing Date        8750 non-null   object
 29  Board Approval Date           8916 non-null   object
 30  Effective Date (Most Recent)  8809 non-null   object
 31  Closed Date (Most Recent)     8908 non-null   object
 32  Last Disbursement Date        5375 non-null   object
dtypes: float64(13), int64(1), object(19)
memory usage: 2.2+ MB

In [8]:
df_orig.describe()

,Interest Rate,Currency of Commitment,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Sold 3rd Party,Repaid 3rd Party,Due 3rd Party,Loans Held
count,8823.000000,0.0,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8.916000e+03,8916.0,8.916000e+03
mean,4.073878,NaN,9.369602e+07,1.159146e+07,8.558013e+06,7.240416e+07,4.538190e+07,2.669253e+07,-9.492419e+05,2.574329e+07,4.122879e+05,4.122879e+05,0.0,3.525055e+07
std,3.436831,NaN,1.628514e+08,5.060199e+07,4.514452e+07,1.466021e+08,9.640985e+07,1.071863e+08,1.545443e+07,1.008385e+08,3.727893e+06,3.727893e+06,0.0,1.179861e+08
min,0.000000,NaN,0.000000e+00,0.000000e+00,-1.000000e-02,0.000000e+00,0.000000e+00,-1.483090e+08,-8.252605e+08,-3.000000e-02,0.000000e+00,0.000000e+00,0.0,-1.483090e+08
25%,0.000000,NaN,1.443053e+07,0.000000e+00,0.000000e+00,7.058871e+06,2.934410e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
50%,4.850000,NaN,3.926854e+07,0.000000e+00,0.000000e+00,2.500000e+07,1.599992e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
75%,7.250000,NaN,1.000000e+08,4.105216e+06,0.000000e+00,7.530456e+07,4.824607e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00
max,11.600000,NaN,3.750000e+09,1.995000e+09,7.271506e+08,3.153531e+09,3.000000e+09,2.534063e+09,2.318029e+08,1.708803e+09,2.499620e+08,2.499620e+08,0.0,2.534063e+09

In [9]:
# check for mixed types

for col in df_orig.columns.tolist():
  weird = (df_orig[[col]].applymap(type) != df_orig[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orig[weird]) > 0:
    print (col)

Country Code
Borrower
Guarantor Country Code
Guarantor
First Repayment Date
Last Repayment Date
Agreement Signing Date
Effective Date (Most Recent)
Closed Date (Most Recent)
Last Disbursement Date

In [10]:
# checking values in End of Period

df_orig['End of Period'].values

array(['07/31/2022 12:00:00 AM', '07/31/2022 12:00:00 AM',
       '07/31/2022 12:00:00 AM', ..., '07/31/2022 12:00:00 AM',
       '07/31/2022 12:00:00 AM', '07/31/2022 12:00:00 AM'], dtype=object)

In [11]:
# double checking that every entry has the same date 

df_orig[df_orig['End of Period']== '07/31/2022 12:00:00 AM'].shape[0]

8916

## Deleting columns that won't be used in Analysis

- the columns that are irrelevant for the analysis will be dropped
- the columns whith the small percentage of missing values will be deleteted  



Missing values from Agreement Signing Date, and Effective Date (Most Recent) were deleted althoug it is possible that the agreement is not signed/didn't become effective.

In [12]:
df_orig.shape

(8916, 33)

In [13]:
# dropping columns we don't need for the analysis

df_clean = df_orig.drop(columns = [ 'End of Period','Country Code','Guarantor Country Code',
                                   'Currency of Commitment', 'Project ID', 'Project Name','Sold 3rd Party', 
                                   'Repaid 3rd Party', 'Due 3rd Party', 'First Repayment Date',
                                   'Last Repayment Date', 'Board Approval Date','Last Disbursement Date'])

- Droppedd End of Period because it represents the date when the snapshot was taken (31.07.2022. for all records)
- Other columns are dropped because they are not relevant for the analysis

In [14]:
df_clean.shape

(8916, 20)

## Missing values

In [15]:
# counting null values

null_values = pd.DataFrame({'columns':pd.isnull(df_clean).sum().index, 
                            'count':pd.isnull(df_clean).sum().values})

null_values.loc[null_values['count']>0,].sort_values(by='count', ascending=False)

                         columns  count
4                      Guarantor    280
17        Agreement Signing Date    166
18  Effective Date (Most Recent)    107
7                  Interest Rate     93
3                       Borrower     57
19     Closed Date (Most Recent)      8

In [16]:
# checking for the percentage of NaNs

for col in (df_clean.columns):
    pct_missing = np.mean(df_clean[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100,2)))

Loan Number - 0.0%
Region - 0.0%
Country - 0.0%
Borrower - 0.64%
Guarantor - 3.14%
Loan Type - 0.0%
Loan Status - 0.0%
Interest Rate - 1.04%
Original Principal Amount - 0.0%
Cancelled Amount - 0.0%
Undisbursed Amount - 0.0%
Disbursed Amount - 0.0%
Repaid to IBRD - 0.0%
Due to IBRD - 0.0%
Exchange Adjustment - 0.0%
Borrower's Obligation - 0.0%
Loans Held - 0.0%
Agreement Signing Date - 1.86%
Effective Date (Most Recent) - 1.2%
Closed Date (Most Recent) - 0.09%

In [17]:
# checking NaNs in Guarantor
# Deleted because missing values present small percentage (3,14%)

df_clean[df_clean['Guarantor'].isnull() == True]

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
1,IBRD00020,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NPL,Fully Repaid,4.2500,1.910442e+08,0.0,0.0,1.910442e+08,1.033722e+08,0.00,0.00,0.00,0.00,08/07/1947 12:00:00 AM,09/11/1947 12:00:00 AM,03/31/1948 12:00:00 AM
2,IBRD00021,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NPL,Fully Repaid,4.2500,3.955788e+06,0.0,0.0,3.955788e+06,0.000000e+00,0.00,0.00,0.00,0.00,05/25/1948 12:00:00 AM,06/01/1948 12:00:00 AM,06/30/1948 12:00:00 AM
3,IBRD00030,EUROPE AND CENTRAL ASIA,Denmark,NaN,NaN,NPL,Fully Repaid,4.2500,4.000000e+07,0.0,0.0,4.000000e+07,1.777100e+07,0.00,0.00,0.00,0.00,08/22/1947 12:00:00 AM,10/17/1947 12:00:00 AM,03/31/1949 12:00:00 AM
4,IBRD00040,EUROPE AND CENTRAL ASIA,Luxembourg,NaN,NaN,NPL,Fully Repaid,4.2500,1.200000e+07,0.0,0.0,1.176198e+07,1.619983e+06,0.00,0.00,0.00,0.00,08/28/1947 12:00:00 AM,10/24/1947 12:00:00 AM,03/31/1949 12:00:00 AM
7,IBRD00070,EUROPE AND CENTRAL ASIA,Netherlands,NaN,NaN,NPL,Fully Repaid,3.5625,2.000000e+06,0.0,0.0,2.000000e+06,0.000000e+00,0.00,0.00,0.00,0.00,07/15/1948 12:00:00 AM,08/03/1948 12:00:00 AM,08/03/1948 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077,IBRD32350,EUROPE AND CENTRAL ASIA,"Yugoslavia, former","SOC. FUND FOR ROADS,SERBIA",NaN,CPL,Fully Cancelled,6.9300,2.500000e+07,25000000.0,0.0,0.000000e+00,0.000000e+00,0.00,0.00,0.00,0.00,05/07/1991 12:00:00 AM,12/31/1992 12:00:00 AM,12/31/1994 12:00:00 AM
4313,IBRD33610,EUROPE AND CENTRAL ASIA,"Yugoslavia, former",ELEKTROPRIVREDA OF SERBIA,NaN,CPL,Fully Cancelled,6.7700,3.000000e+08,300000000.0,0.0,0.000000e+00,0.000000e+00,0.00,0.00,0.00,0.00,09/12/1991 12:00:00 AM,12/31/1992 12:00:00 AM,06/30/1997 12:00:00 AM
6557,IBRD70890,EUROPE AND CENTRAL ASIA,Montenegro,Ministry of Finance,NaN,FSL,Repaying,0.0000,5.283866e+07,0.0,0.0,5.283866e+07,7.161015e+07,-18771492.13,25954566.04,7183073.91,-18771492.13,12/17/2001 12:00:00 AM,01/08/2002 12:00:00 AM,09/30/2004 12:00:00 AM
6558,IBRD70900,EUROPE AND CENTRAL ASIA,Montenegro,Ministry of Finance,NaN,FSL,Repaying,0.0000,1.286532e+08,0.0,0.0,1.286532e+08,1.119816e+08,16671593.73,38209525.30,54881119.03,16671593.73,12/17/2001 12:00:00 AM,01/08/2002 12:00:00 AM,09/30/2004 12:00:00 AM
6559,IBRD70910,EUROPE AND CENTRAL ASIA,Montenegro,Ministry of Finance,NaN,FSL,Repaying,0.0000,6.024742e+07,0.0,0.0,6.024742e+07,6.737862e+07,-7131193.11,24300017.02,17168823.91,-7131193.11,12/17/2001 12:00:00 AM,01/08/2002 12:00:00 AM,09/30/2004 12:00:00 AM

In [18]:
# checking NaNs in Interest Rate
# Deleted because missing values present small percentage (1,04%)

df_clean[df_clean['Interest Rate'].isnull() == True]

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
8802,IBRDB0010,EAST ASIA AND PACIFIC,Thailand,"THE MITSUI BANK, LIMITED",Thailand,BLNR,Fully Repaid,NaN,8.500000e+06,0.00,0.0,8213532.98,17095298.12,0.0,0.0,0.0,0.0,09/22/1983 12:00:00 AM,11/07/1983 12:00:00 AM,01/01/1986 12:00:00 AM
8803,IBRDB0020,EUROPE AND CENTRAL ASIA,Hungary,NATIONAL BANK OF HUNGARY,Hungary,BLNR,Fully Repaid,NaN,3.000000e+07,0.00,0.0,30000000.00,30000000.00,0.0,0.0,0.0,0.0,09/25/1983 12:00:00 AM,09/25/1983 12:00:00 AM,10/30/1983 12:00:00 AM
8804,IBRDB0030,EUROPE AND CENTRAL ASIA,Hungary,NATIONAL BANK OF HUNGARY,Hungary,BLNR,Fully Repaid,NaN,8.820000e+06,0.00,0.0,8862629.25,16062802.43,0.0,0.0,0.0,0.0,10/27/1983 12:00:00 AM,10/27/1983 12:00:00 AM,11/30/1983 12:00:00 AM
8805,IBRDB0040,LATIN AMERICA AND CARIBBEAN,Brazil,Ministrio da Fazenda,Brazil,GURB,Fully Cancelled,NaN,7.700000e+06,7700000.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,06/05/1984 12:00:00 AM,05/31/1984 12:00:00 AM,08/06/1994 12:00:00 AM
8806,IBRDB0050,LATIN AMERICA AND CARIBBEAN,Paraguay,Ministerio de Hacienda,Paraguay,BLNC,Fully Cancelled,NaN,3.804000e+06,3804000.16,0.0,0.00,0.00,0.0,0.0,0.0,0.0,03/22/1985 12:00:00 AM,03/22/1985 12:00:00 AM,07/01/1988 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8890,IBRDG3150,EUROPE AND CENTRAL ASIA,Turkiye,Ministry of Treasury and Finance,Turkiye,GUBF,Signed,NaN,2.735800e+08,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,06/26/2020 12:00:00 AM,07/08/2020 12:00:00 AM,06/30/2024 12:00:00 AM
8891,IBRDG3160,EUROPE AND CENTRAL ASIA,Turkiye,TURKIYE IHRACAT KREDI BANKASI A.S.,Turkiye,GURB,Effective,NaN,0.000000e+00,0.00,194617000.0,0.00,0.00,0.0,0.0,0.0,194617000.0,06/26/2020 12:00:00 AM,07/07/2020 12:00:00 AM,06/30/2024 12:00:00 AM
8892,IBRDG3170,SOUTH ASIA,India,National Mission for Clean Ganga,India,GURB,Approved,NaN,1.900000e+07,0.00,19000000.0,0.00,0.00,0.0,0.0,0.0,19000000.0,NaN,NaN,12/31/2026 12:00:00 AM
8893,IBRDG3240,EUROPE AND CENTRAL ASIA,Uzbekistan,Nur Navoi Solar Foreign Enterprise,Uzbekistan,GURB,Effective,NaN,5.100000e+06,0.00,5100000.0,0.00,0.00,0.0,0.0,0.0,5100000.0,11/19/2020 12:00:00 AM,12/11/2020 12:00:00 AM,12/31/2023 12:00:00 AM
8894,IBRDG3300,EUROPE AND CENTRAL ASIA,Turkiye,TURKIYE IHRACAT KREDI BANKASI A.S.,Turkiye,GURB,Effective,NaN,0.000000e+00,0.00,61458000.0,0.00,0.00,0.0,0.0,0.0,61458000.0,05/20/2021 12:00:00 AM,05/20/2021 12:00:00 AM,06/30/2024 12:00:00 AM

In [19]:
# checking NaNs in Agreement Signing Date
# Deleted because missing values present small percentage (1,86%)

df_clean[df_clean['Agreement Signing Date'].isnull() == True]

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
1524,IBRD14000,SOUTH ASIA,Pakistan,MINISTRY OF ECONOMIC AFFAIRS,Pakistan,NPL,Fully Cancelled,0.0,55000000.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,04/12/1977 12:00:00 AM,12/31/1980 12:00:00 AM
2803,IBRD24100,EUROPE AND CENTRAL ASIA,"Yugoslavia, former",VOJVODJANSKA - UDRUZENA BANKA,NaN,CPL,Fully Cancelled,0.0,90000000.0,90000000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,05/08/1984 12:00:00 AM,07/31/1988 12:00:00 AM
2868,IBRD24570,EUROPE AND CENTRAL ASIA,Portugal,DIRECCAO GERAL DA TESOURO,NaN,CPL,Fully Cancelled,0.0,7400000.0,7400000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,06/27/1984 12:00:00 AM,06/30/1989 12:00:00 AM
2941,IBRD25151,EAST ASIA AND PACIFIC,"Korea, Republic of",SMALL & MEDIUM INDUSTRY PROMOTION CORP.,"Korea, Republic of",CPL,Fully Cancelled,0.0,70000000.0,70000000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,04/16/1985 12:00:00 AM,06/30/1989 12:00:00 AM
2975,IBRD25380,LATIN AMERICA AND CARIBBEAN,Peru,PETROLEOS DEL PERU,Peru,CPL,Fully Cancelled,0.0,4000000.0,4000000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,05/09/1985 12:00:00 AM,06/30/1990 12:00:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8879,IBRDG2580,SOUTH ASIA,India,Energy Efficiency Services Limited,India,GURB,Approved,NaN,80000000.0,0.0,80000000.00,0.0,0.0,0.0,0.0,0.0,80000000.00,NaN,11/26/2018 12:00:00 AM,09/30/2022 12:00:00 AM
8880,IBRDG2590,LATIN AMERICA AND CARIBBEAN,Colombia,Financiera de Desarrollo Nacional,Colombia,GURB,Terminated,NaN,0.0,41000000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,NaN,06/30/2024 12:00:00 AM
8887,IBRDG2870,EUROPE AND CENTRAL ASIA,Georgia,Georgian State Electrosystem,Georgia,GURB,Approved,NaN,50000000.0,0.0,44940949.45,0.0,0.0,0.0,0.0,0.0,44940949.45,NaN,NaN,12/31/2024 12:00:00 AM
8892,IBRDG3170,SOUTH ASIA,India,National Mission for Clean Ganga,India,GURB,Approved,NaN,19000000.0,0.0,19000000.00,0.0,0.0,0.0,0.0,0.0,19000000.00,NaN,NaN,12/31/2026 12:00:00 AM
8911,IBRDS0160,MIDDLE EAST AND NORTH AFRICA,Algeria,MINISTERE DES FINANCES,Algeria,NPL,Fully Cancelled,0.0,20000000.0,20000000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,NaN,11/13/1979 12:00:00 AM,06/30/1983 12:00:00 AM

In [20]:
# checking NaNs in Closed Date (Most Recent)
# Deleted because missing values present small percentage (0,09%)

df_clean[df_clean['Closed Date (Most Recent)'].isnull() == True]

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrower's Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
8842,IBRDB1090,MIDDLE EAST AND NORTH AFRICA,Lebanon,MINISTRY OF FINANCE,Lebanon,GURB,Fully Cancelled,NaN,100000000.0,100000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,07/02/1997 12:00:00 AM,07/02/1997 12:00:00 AM,NaN
8843,IBRDB1100,EUROPE AND CENTRAL ASIA,Ukraine,Ministry of Finance,Ukraine,GURB,Fully Cancelled,NaN,120000000.0,120000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/09/1998 12:00:00 AM,02/09/1998 12:00:00 AM,NaN
8844,IBRDB1110,EUROPE AND CENTRAL ASIA,Russian Federation,MINISTRY OF FINANCE,Russian Federation,GURB,Fully Cancelled,NaN,100000000.0,100000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/30/1997 12:00:00 AM,12/30/1997 12:00:00 AM,NaN
8845,IBRDB1120,EUROPE AND CENTRAL ASIA,Ukraine,Ministry of Finance,Ukraine,GURB,Fully Cancelled,NaN,100000000.0,100000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12/30/1997 12:00:00 AM,12/30/1997 12:00:00 AM,NaN
8849,IBRDB1150,LATIN AMERICA AND CARIBBEAN,Argentina,Ministry of Treasury,Argentina,GURB,Fully Cancelled,NaN,250000000.0,250000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10/15/1999 12:00:00 AM,10/15/1999 12:00:00 AM,NaN
8850,IBRDB1160,EUROPE AND CENTRAL ASIA,Russian Federation,MINISTRY OF FINANCE,Russian Federation,GURB,Fully Cancelled,NaN,200000000.0,200000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,07/12/2001 12:00:00 AM,07/12/2001 12:00:00 AM,NaN
8851,IBRDB1170,LATIN AMERICA AND CARIBBEAN,Brazil,Ministrio da Fazenda,Brazil,GURB,Terminated,NaN,180000000.0,180000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,12/20/2000 12:00:00 AM,NaN
8856,IBRDB1220,LATIN AMERICA AND CARIBBEAN,Peru,Ministerio De Economia Y Finanzas,Peru,GURB,Fully Cancelled,NaN,200000000.0,200000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,07/19/2006 12:00:00 AM,07/19/2006 12:00:00 AM,NaN

### Deleting missing values

In [21]:
#checking the shape

df_clean.shape

(8916, 20)

In [22]:
# deleting NaNs from columns

df_clean = df_clean.dropna(subset=[ 'Borrower', 'Guarantor', 'Interest Rate','Agreement Signing Date',
                                   'Effective Date (Most Recent)','Closed Date (Most Recent)'])

In [23]:
#checking the shape

df_clean.shape

(8391, 20)

## Duplicates

In [24]:
# Look for full duplicates 
# No duplcates found

df_dups = df_clean[df_clean.duplicated()]
df_dups

Empty DataFrame
Columns: [Loan Number, Region, Country, Borrower, Guarantor, Loan Type, Loan Status, Interest Rate, Original Principal Amount, Cancelled Amount, Undisbursed Amount, Disbursed Amount, Repaid to IBRD, Due to IBRD, Exchange Adjustment, Borrower's Obligation, Loans Held, Agreement Signing Date, Effective Date (Most Recent), Closed Date (Most Recent)]
Index: []

## Changing data types

In [25]:
# renaming "Borrower's Obligation" into "Borrowers Obligation" because of ' sign

df_clean.rename(columns = {"Borrower's Obligation" : 'Borrowers Obligation'}, inplace = True)

In [26]:
# change all text columns into a string 

text = 'Loan Number','Region','Country', 'Borrower','Guarantor','Loan Type','Loan Status'

for x in text:
    df_clean[x] = df_clean[x].astype('string')

In [27]:
# changing all columns representing dates to a datetime type

dates = ['Agreement Signing Date', 'Effective Date (Most Recent)', 'Closed Date (Most Recent)']

for x in dates:
    df_clean[x] = pd.to_datetime(df_clean[x])

## Mixed types

In [28]:
# check for mixed types

for col in df_clean.columns.tolist():
  weird = (df_clean[[col]].applymap(type) != df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_clean[weird]) > 0:
    print (col)

In [29]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8391 entries, 0 to 8915
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan Number                   8391 non-null   string
 1   Region                        8391 non-null   string
 2   Country                       8391 non-null   string
 3   Borrower                      8391 non-null   string
 4   Guarantor                     8391 non-null   string
 5   Loan Type                     8391 non-null   string
 6   Loan Status                   8391 non-null   string
 7   Interest Rate                 8391 non-null   float64
 8   Original Principal Amount     8391 non-null   float64
 9   Cancelled Amount              8391 non-null   float64
 10  Undisbursed Amount            8391 non-null   float64
 11  Disbursed Amount              8391 non-null   float64
 12  Repaid to IBRD                8391 non-null   float64
 13  Due to IBRD                   8391 non-null   float64
 14  Exchange Adjustment           8391 non-null   float64
 15  Borrowers Obligation          8391 non-null   float64
 16  Loans Held                    8391 non-null   float64
 17  Agreement Signing Date        8391 non-null   datetime64[ns]
 18  Effective Date (Most Recent)  8391 non-null   datetime64[ns]
 19  Closed Date (Most Recent)     8391 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(10), string(7)
memory usage: 1.3 MB

In [30]:
df_clean.shape

(8391, 20)

# Exploring dataset

In [31]:
df_clean.head()

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrowers Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
0,IBRD00010,EUROPE AND CENTRAL ASIA,France,CREDIT NATIONAL,France,NPL,Fully Repaid,4.25,250000000.0,0.0,0.0,250000000.0,38000.00,0.0,0.0,0.0,0.0,1947-05-09,1947-06-09,1947-12-31
5,IBRD00050,LATIN AMERICA AND CARIBBEAN,Chile,Ministry of Finance,Chile,NPL,Fully Repaid,4.50,13500000.0,0.0,0.0,13500000.0,12167000.00,0.0,0.0,0.0,0.0,1948-03-25,1949-04-07,1954-12-31
6,IBRD00060,LATIN AMERICA AND CARIBBEAN,Chile,Ministry of Finance,Chile,NPL,Fully Repaid,3.75,2500000.0,0.0,0.0,2500000.0,755000.00,0.0,0.0,0.0,0.0,1948-03-25,1949-04-07,1950-01-01
13,IBRD00111,LATIN AMERICA AND CARIBBEAN,Brazil,Ministrio da Fazenda,Brazil,NPL,Fully Repaid,4.50,75000000.0,0.0,0.0,75000000.0,70971588.97,0.0,0.0,0.0,0.0,1949-01-27,1949-05-09,1953-12-31
14,IBRD00112,LATIN AMERICA AND CARIBBEAN,Brazil,Ministrio da Fazenda,Brazil,NPL,Fully Repaid,4.25,15000000.0,0.0,0.0,15000000.0,15000000.00,0.0,0.0,0.0,0.0,1951-01-18,1951-04-10,1954-12-31

In [32]:
df_clean.describe()

,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrowers Obligation,Loans Held
count,8391.000000,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03,8.391000e+03
mean,4.075410,9.480716e+07,1.027216e+07,6.739176e+06,7.618831e+07,4.761572e+07,2.836546e+07,-1.020931e+06,2.734453e+07,3.510464e+07
std,3.441892,1.644055e+08,4.392966e+07,3.726149e+07,1.502306e+08,9.887136e+07,1.102732e+08,1.591723e+07,1.037340e+08,1.186178e+08
min,0.000000,0.000000e+00,0.000000e+00,-1.000000e-02,0.000000e+00,0.000000e+00,-1.483090e+08,-8.252605e+08,-3.000000e-02,-1.483090e+08
25%,0.000000,1.490000e+07,0.000000e+00,0.000000e+00,8.201562e+06,3.723900e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.850000,4.000000e+07,2.622700e+02,0.000000e+00,2.694938e+07,1.748729e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,7.250000,1.000000e+08,3.967965e+06,0.000000e+00,8.029238e+07,5.029483e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,11.600000,3.750000e+09,1.995000e+09,6.960478e+08,3.153531e+09,3.000000e+09,2.534063e+09,2.318029e+08,1.708803e+09,2.534063e+09

In [33]:
# checking how many entries we have as zero in Original Principal Amount


df_clean[df_clean['Original Principal Amount'] == 0].shape[0]

180

- "When new loans are set up to facilitate conversions from one product to another (e.g. a conversion from a Single Currency loan to a Fixed Spread loan), the original principal amount for the new loan may be shown as zero, since the new loan does not represent a new Board commitment."
- "New credit tranches created for the MDRI portion of an existing credit may have an original principal amount of zero since they do not represent new Board approvals."
- We left this unchanged.

In [34]:
# checking how many entries we have as zero in Interest Rate 

df_clean[df_clean['Interest Rate'] == 0].shape[0]

2526

- "For loans that could have more than one interest rate (e.g. FSL or SCL fixed rate loans), the interest rate is shown as 0."

- This means we can leave it unchanged.

In [35]:
df_clean['Loan Type'].value_counts().to_frame()

      Loan Type
CPL        2279
FSL        2210
NPL        1787
SCL        1243
SCPD        687
SCPM        172
SCPY         13

In [36]:
df_clean['Loan Status'].value_counts().to_frame()

                     Loan Status
Fully Repaid                6068
Repaying                    1023
Disbursing                   530
Fully Disbursed              248
Fully Transferred            205
Fully Cancelled              135
Disbursing&Repaying          131
Signed                        34
Effective                     16
Terminated                     1

In [37]:
# checking the most recent date and the oldest date 

df_clean['Agreement Signing Date'].min(), df_clean['Agreement Signing Date'].max()

(Timestamp('1947-05-09 00:00:00'), Timestamp('2022-07-25 00:00:00'))

- Our dataset contains data about signing agreement from 9th May 1947 to 25th July 2022

In [38]:
df_clean['Effective Date (Most Recent)'].min(), df_clean['Effective Date (Most Recent)'].max()

(Timestamp('1947-06-09 00:00:00'), Timestamp('2023-01-15 00:00:00'))

- A legal agreements in our dataset became effective from 09th June 1947 to 15th January 2023

In [39]:
df_clean[df_clean['Agreement Signing Date'] > df_clean['Effective Date (Most Recent)']]

,Loan Number,Region,Country,Borrower,Guarantor,Loan Type,Loan Status,Interest Rate,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IBRD,Due to IBRD,Exchange Adjustment,Borrowers Obligation,Loans Held,Agreement Signing Date,Effective Date (Most Recent),Closed Date (Most Recent)
1415,IBRD13080,LATIN AMERICA AND CARIBBEAN,Mexico,SIDERURGICA LAZARO CARDENAS,Mexico,NPL,Fully Cancelled,8.85,95000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1976-07-14,1976-07-01,1981-06-30
6746,IBRD72780,LATIN AMERICA AND CARIBBEAN,El Salvador,MINISTERIO DE HACIENDA,El Salvador,FSL,Terminated,0.00,40200000.0,40200000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2005-08-29,2005-03-15,2011-07-01

- There are only two cases that the Agreement was signed after it became effective.

# Exporting clean data

In [40]:
df_clean.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'SoL.pkl'))

In [41]:
df_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'SoL.csv'))